<div>
    <nav>
        <a routerLink="/home">Home</a>
        <hr>
        <a routerLink="/parentProfile">Parent Profile</a>
      <a routerLink="/games">Games </a>
        <hr>
        <a routerLink="/signup">Signup</a>
        <hr>
        <a routerLink="/login">child login</a>
        <hr>
        <a routerLink="/parentlogin">parent login</a>
        <hr>
        <a routerLink="/verification">verification</a>
    </nav>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
